@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To SoftStack Technologies Pvt. Ltd.</h1>
    <h1 class="display-4">Please Login First to Proceed Ahead</h1>
</div>
